
*.xml
*.mk
*.bash
nbproject/Makefile-genesis.properties
Makefile
*.i
*.d
*.p1
dist/default/production/Laboratorio-3.production.cmf
*.hex
*.elf
*.lst
*.rlf
*.hxl
*.mum
*.o
*.map
*.sdb
*.sym
recepcion.c
